html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 60px);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283e50;
  color: white;
  min-width: 320px;
  width: 25vw;
  line-height: 1.5em;
  border-radius: 7px 7px 0 0;
}

.container .image {
  width: 100%;
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 100;
}

.info_aboutgame {
  padding-left: 1em;
  padding-right: 1em;
}

.buttons {
  width: 100%;
}

.button {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

.rules {
  background-color: #1fcca4;
}

.start {
  background-color: #0197f6;
}

.rules:hover {
  background-color: #1cbb96;
}

.start:hover {
  background-color: #0090e9;
}

.info {
  margin-bottom: 2em;
}
