* {
  color: white;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da) no-repeat;
  font-family: sans-serif;
  margin: 0;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 320px;
  background-color: #283e50;
  color: white;
  text-align: center;
  border-radius: 7px 7px 0 0;
}

.container {
  border-radius: 7px 7px 0 0;
}

.content-container .image {
  width: 100%;
  border-radius: 7px 7px 0 0;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 100;
  margin: .4em 0 .4em 0;
}

.info_aboutgame {
  margin: 0 0 2em 0;
  padding-left: 1em;
  padding-right: 1em;
}

.buttons {
  width: 100%;
}

.button {
  display: block;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

.rules {
  background-color: #1fcca4;
}

.start {
  background-color: #0197f6;
}

.rules:hover {
  background-color: #1cbb96;
}

.start:hover {
  background-color: #0090e9;
}

.info {
  margin-bottom: 2em;
}

.game-container {
  flex-direction: column;
}

.player-info {
  display: flex;
  width: 100%;
  margin-bottom: .5em;
}

.player-info>div {
  display: flex;
}

.title-game {
  margin-top: .1em;
}

.player-name {
  font-weight: bold;
}

.player-info>.left {
  width: 50%;
}

.left>p {
  margin-right: 1em;
}

.right {
  margin-left: auto;
}

.right a {
  display: flex;
  border-radius: .5em;
  padding: .8em;
}

.home-icon {
  background-color: #1fcca4;
  margin-right: 1em;
}

.restart-icon {
  background-color: #0197f6;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 70vw;
  height: 70vh;
  max-width: 70vmin;
  max-height: 70vmin;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid black;
}

.box {
  background: none;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.box:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.home-icon:hover {
  background-color: #1cbb96;
}

.restart-icon:hover {
  background-color: #0090e9;
}
